*, *:before, *:after {
  box-sizing: border-box;

}


@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700") ;

}


body {
  background-color: #FFFFFF;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;

}


.container {
  width: 100%;
  max-width: 360px;
  padding-top: 56px;
  margin: 0;

}


.topnav {
  background: #3951B5;
  width: 100%;
  height: 80px;
  max-width: 360px;
  position: fixed;
  top: 0;
  z-index: 4;

}


/* Shall I find a better Material Design status img that has the shaded bar? */
.statusbar {
  background-image: url( "../images/android_statusbar.svg");
  background-repeat: no-repeat;
  height: 24px;
  width: 100%;
  margin-top: 0px;
  margin-left: 0px;

}


.topnav_items {
  color: #FFFFFF;
  width: 100%;
  height: 56px;
  margin-right: 20px;
  margin-left: 16px;

}


.backbutton {
  float: left;
  width: 20%;
  padding: 20px 0 0px 0;

}


.busstoplocation {
/* Washington @ State: */
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  color: #ffffff;
  letter-spacing: .75px; /*not sure of need*/
  line-height: 20px;
  float: left;
  width: 65%;
  text-align: center;
  padding: 20px 40px 0 0;

}


.nav_shadowbox{
  height: 56px;
  width: 100%;

}


.shadowcard {
  box-shadow:0 4px 8px rgba(0,0,0,0.2),
            0 6px 20px rgba(0,0,0,0.6);
}


.map {
  background-image: url("../images/map.png");
  background-size: cover;
  height: 215px;
  width: 360px;
  z-index: 3;

}


/*** Material Design Shadow, start ***/
.labelsbar_shadowbox{
  height: 48px;
  width: 100%;

}


.card {
  box-shadow:0 4px 8px rgba(0,0,0,0.2),
            0 6px 20px rgba(0,0,0,0.6);

}
/*** end, Material Design Shadow ***/


.labelsbar {
  position: relative;
  height: 48px;
  width: 360px;
  background-color: #3951B5;
  padding-left: 16px;
  padding-top: 15px;
  font-family:  'Roboto', sans-serif;
  font-size: .875em;
  color: #ffffff;
  letter-spacing: 0px;
  line-height: 22px;
  z-index: 2; /*What must I set this to for stuff to be able to scroll under my box shadow??*/

}


.bus_destination_box {
  width: 100%;
  height: 72px;
  background: #2096F7;
  box-shadow: inset .5 .5 .5 .5 #2A3D88;
  border-bottom: .03px solid #1D8AE4;
  z-index: 1; /* Experimenting with these z-indices to see how layering works; so far nothing seems to change. Due to position setting or lack of?*/
  padding: 16px 16px 0 16px;

}


.busnumwrapper {
  float: left;
  height: 100%;
  width: 15%;

}


.busnum {
  float: left;
  color: #ffffff;
  font-size: 1.125em;
  font-weight: 400;
  text-align: left;

}



.destinationwrapper {
  float: left;
  height: 100%;
  width: 55%;

}


.frequencywrapper {
  float: left;
  height: 100%;
  width: 30%;
  text-align: left;

}


h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.125em;
  color: #ffffff;
  letter-spacing: -0.45px;

}


.arrival {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.125em;
  color: #ffffff;
  letter-spacing: -0.45px;
  padding: 0px 0 0 10px;

}


#nextbus {
  font-weight: 500;
  letter-spacing: 1px;

}


/* Destination Details */
#deets {
  font-weight: 300;
  font-size: .875em;
  line-height: 16px;
  padding: 6px 0 0 0;
  letter-spacing: 1x;

}


.frequency {
  font-weight: 300;
  font-size: .90em;
  line-height: 16px;
  color: #ffffff;
  float: left;
  padding: 6px 0 0 10px;

}


/* Out & Reroute Adjustments */
.inopperable_bus_dest_box {
  width: 100%;
  height: 72px;
  background: #FF9A01;
  box-shadow: inset .5 .5 .5 .5 #F29200;
  border-bottom: .03px solid #F29200;
  padding: 16.5px 16px 0 16px;
  z-index: 1;

}


.inopperable_busnum {
    padding: 16.5px 0 0 16px;

}


.inopperable_bus_dest_box .destinationwrapper {
  float: left;
  height: 100%;
  width: 55%;
  text-align:left;

}

/* Rerouted Arrival Time */
#na {
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: -0.3px;
  padding: 1px 0 0 10px;

}


.reroute .frequencywrapper {
  float: left;
  height: 100%;
  width: 30%;
  text-align:left;

}


/* Resume Time Info */
.inopperable_bus_dest_box .resumetime {
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: -0.45px;
  line-height: 18px;
  padding: 0px 0 0 10px;

}


/* Learn to make this part afixed, app content scrolling under: */
.bottom_navbar{
  height: 60px;
  width: 100%;
  max-width: 360px;
  margin-left: 0px;
  background: #000000;
  background-image: url( "../images/bottom_nav.svg");
  background-repeat: no-repeat;
  /*position: relative;
  z-index: 5;
  top: 580;   <----Need....to scroll under?*/

}
